@model Cumulative_n01665068.Models.Class
@{
    ViewBag.Title = "Show";
}

<!---This View Displays the details of the Class selected in the List View-->
<h1>Details</h1>
<br />
<div>
    <h3>@Model.ClassName</h3>

    <p>Class ID: @Model.ClassID</p>
    <p>Class Code: @Model.ClassCode</p>
    <p>Instructor ID: @Model.TeacherId</p>
    <p>Start Date: @Model.StartDate</p>
    <p>Finish Date: @Model.FinishDate</p>

</div>




