@model Cumulative_n01665068.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<!---This View Displays the details of the Teacher selected in the List View-->
<h1>Details</h1>
<br />
<div>
    <h3>@Model.TeacherName</h3>
    
    <p>Started Teaching on : @Model.HireDate</p>
    <p>Teacher ID: @Model.TeacherID</p>
    <p>Employee Number: @Model.EmpNumber</p>
    <p>Current Salary (per hour): @Model.Salary</p>
    
</div>

