@model Cumulative_n01665068.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<!---This View Displays the details of the Teacher selected in the List View-->
<h1>Details</h1>
<br />
<div>
    <h3>@Model.TeacherName</h3>
    
    <h4>Started Teaching on : @Model.HireDate</h4>
    <h4>Teacher ID: @Model.TeacherID</h4>
    <h4>Employee Number: @Model.EmpNumber</h4>
    <h4>Current Salary (per hour): @Model.Salary</h4>
    
</div>

